<div class="form-container">

  <form [formGroup]="conForm" (submit)="demande()">
    <div>
      <label for="typeCompteur">Type de compteur</label>
      <input id="typeCompteur" type="text" formControlName="typeDeCompteur" />
    </div>
  
    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
  
    <div>
      <label for="dateDePaiement">Date de paiement</label>
      <input id="dateDePaiement" type="date" formControlName="dateDePaiement" />
    </div>
  
    <div>
      <label for="adresse">Adresse</label>
      <input id="adresse" type="text" formControlName="adresse" />
    </div>
  
    <button type="submit">Soumettre</button>
  </form>
  erreur :{{conForm.errors}}
</div>